# Imports and packages

In [1]:
import pandas as pd
import numpy as np
import random
import torch
from torch.utils.data import TensorDataset, DataLoader
import torch.nn as nn
from torchinfo import summary

c:\Users\sandr\anaconda3\envs\tccenv\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
rest0 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_rest_0.csv', header=None)
rest1 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_rest_1.csv', header=None)
rest2 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_rest_2.csv', header=None)
rest3 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_rest_3.csv', header=None)
rest4 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-rest-4.csv', header=None)
rest5 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-rest-5.csv', header=None)
rest6 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_rest_6.csv', header=None)

rest = pd.concat([rest0, rest1, rest2, rest3, rest4, rest5, rest6])
print(rest.shape)
rest = rest.drop_duplicates(subset=[1]).dropna(subset=[2])
rest

(135591, 6)

,0,1,2,3,4,5
0,0,1522387880311672835,Ching chong https://t.co/z5wUHcuaKW,2022-05-06 01:28:49+00:00,1379882283272900609,{'media_keys': ['7_1522387861630296066']}
1,1,1522387838972616705,"@QUEEN___chink I saw gossipintheciti, and urfa...",2022-05-06 01:28:40+00:00,1229603497806585858,NaN
2,2,1522387616376651777,#stop asian hate\n#stopasianhate\n#StopAsianHa...,2022-05-06 01:27:46+00:00,1520511749753118720,{'media_keys': ['3_1522387603248467968']}
3,3,1522387433987272704,"hi loves, don’t forget to stream t-d jap ver w...",2022-05-06 01:27:03+00:00,1459005120276877312,NaN
4,4,1522387402530357249,[BTS MEMBERSHIP] Weekend Interview with JIMIN ...,2022-05-06 01:26:56+00:00,376745306,"{'media_keys': ['3_1522387373430296577', '3_15..."
...,...,...,...,...,...,...
362,4,1532824659103711232,#taiwan is a country #fuckchina,2022-06-03 20:40:51+00:00,1365018667860307971,NaN
363,5,1532824612584796163,"So a chink, a squid, and a japanese man walk i...",2022-06-03 20:40:40+00:00,1531660986813382658,NaN
448,0,1532831814318010376,@Jap_Federal I tried GMOD. And I just can’t co...,2022-06-03 21:09:17+00:00,3367638699,NaN
449,1,1532831056021311488,@medved_bjj @noncombatantish Obviously a China...,2022-06-03 21:06:17+00:00,1476410244091711488,NaN
450,2,1532828678425841664,jap freeze gart hing,2022-06-03 20:56:50+00:00,3301298926,NaN

In [ ]:
rest7 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_rest_7.csv', header=None)
rest1001 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-rest-1001.csv', header=None)
rest1002 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-rest-1002.csv', header=None)
rest1003 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-rest-1003.csv', header=None)
rest1007 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-rest-1007.csv', header=None)
rest1006 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-rest-1006.csv', header=None)
rest1005 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-rest-1005.csv', header=None)

rest = pd.concat([rest, rest7, rest1001, rest1002, rest1003, rest1005, rest1006, rest1007])
rest = rest.drop_duplicates(subset=[1]).dropna(subset=[2])
rest

,0,1,2,3,4,5
0,0,1522387880311672835,Ching chong https://t.co/z5wUHcuaKW,2022-05-06 01:28:49+00:00,1379882283272900609,{'media_keys': ['7_1522387861630296066']}
1,1,1522387838972616705,"@QUEEN___chink I saw gossipintheciti, and urfa...",2022-05-06 01:28:40+00:00,1229603497806585858,NaN
2,2,1522387616376651777,#stop asian hate\n#stopasianhate\n#StopAsianHa...,2022-05-06 01:27:46+00:00,1520511749753118720,{'media_keys': ['3_1522387603248467968']}
3,3,1522387433987272704,"hi loves, don’t forget to stream t-d jap ver w...",2022-05-06 01:27:03+00:00,1459005120276877312,NaN
4,4,1522387402530357249,[BTS MEMBERSHIP] Weekend Interview with JIMIN ...,2022-05-06 01:26:56+00:00,376745306,"{'media_keys': ['3_1522387373430296577', '3_15..."
...,...,...,...,...,...,...
12352,12352,1544379198608924672,@mdub87 @RexChapman You stupid fucking mongoloid.,2022-07-05 17:54:28+00:00,116119009,NaN
24711,24711,1544379404360507394,Awww. Another female Jap. \n\nNot a photo of...,2022-07-05 17:55:17+00:00,43826028,NaN
43253,43253,1544379866300252161,"Ironically, they’d have drowned a mongoloid li...",2022-07-05 17:57:07+00:00,1532331526448369665,NaN
50151,50151,1544103828810715136,@TeamGates \nWell just use the Chinaman's micr...,2022-07-04 23:40:15+00:00,4006869253,NaN
51264,51264,1543692204673310720,@stuckonilo JAP JAP,2022-07-03 20:24:36+00:00,1503023378965401603,NaN

In [ ]:
asian5 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_asian_5.csv', header=None, names=[0,1,2,3,4,5]) #names=['index','id','text','time','author_id','attachments']
asian4 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_asian_4.csv', header=None, names=[0,1,2,3,4,5])
asian0 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_asian_0.csv', header=None)
asian1 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_asian_1.csv', header=None)
asian2 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_asian_2.csv', header=None)
asian3 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_asian_3.csv', header=None)
asian6 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_asian_6.csv', header=None)

asian = pd.concat([asian4, asian5, asian0, asian1, asian2, asian3, asian6])
print(asian.shape)
print(asian0.shape,asian1.shape,asian2.shape,asian3.shape,asian4.shape,asian5.shape,asian6.shape)
asian = asian.drop_duplicates(subset=[1]).dropna(subset=[2])
asian

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,1,2,3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(590685, 6)
(5397, 6) (1259, 6) (5846, 6) (26440, 6) (273565, 6) (277640, 6) (538, 6)

,0,1,2,3,4,5
0,0,1528732693298565121,@MarkMelon Biggest one is the amount of Chines...,2022-05-23 13:40:51+00:00,7.775377e+07,NaN
1,1,1528732688416374785,"@FuHuaArmpits @EuropeanRevolt Apart from that,...",2022-05-23 13:40:50+00:00,1.040661e+18,NaN
2,2,1528732685635825667,There are some Chinese stocks which are hit ri...,2022-05-23 13:40:49+00:00,1.038622e+18,NaN
3,3,1528732683819536387,@SicksTricks Hey Michael Farquhar! This tattoo...,2022-05-23 13:40:48+00:00,1.516558e+18,{'media_keys': ['3_1528732622012268547']}
4,4,1528732682938630144,In Chinese overseas infrastructure-led develop...,2022-05-23 13:40:48+00:00,1.248214e+08,NaN
...,...,...,...,...,...,...
533,85,1532831408909172736,z names are top tier especially arabic and sou...,2022-06-03 21:07:41+00:00,1.253797e+18,NaN
534,86,1532831404643557378,@_HenryBolton Both leaders of note on @NelsonT...,2022-06-03 21:07:40+00:00,4.313842e+08,NaN
535,87,1532831400348594176,"Raziye.Jalalidin, Dutch citizen. Her nephew Zu...",2022-06-03 21:07:39+00:00,1.080853e+18,{'media_keys': ['7_1532831270065033219']}
536,88,1532831376843517953,up!\n\n𓏔can tingi pc if payo! but prio those w...,2022-06-03 21:07:33+00:00,1.428613e+18,NaN
537,89,1532831376814362625,and. they literally. made two albums in 2020. ...,2022-06-03 21:07:33+00:00,9.721739e+17,NaN

In [ ]:
asian7 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/file_tweets_asian_7.csv', header=None)
asian1001 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-asian-1001.csv', header=None)
asian1002 = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/blob-asian-1002.csv', header=None)

asian = pd.concat([asian, asian7, asian1001, asian1002])
asian = asian.drop_duplicates(subset=[1]).dropna(subset=[2])
asian

,0,1,2,3,4,5
0,0,1528732693298565121,@MarkMelon Biggest one is the amount of Chines...,2022-05-23 13:40:51+00:00,7.775377e+07,NaN
1,1,1528732688416374785,"@FuHuaArmpits @EuropeanRevolt Apart from that,...",2022-05-23 13:40:50+00:00,1.040661e+18,NaN
2,2,1528732685635825667,There are some Chinese stocks which are hit ri...,2022-05-23 13:40:49+00:00,1.038622e+18,NaN
3,3,1528732683819536387,@SicksTricks Hey Michael Farquhar! This tattoo...,2022-05-23 13:40:48+00:00,1.516558e+18,{'media_keys': ['3_1528732622012268547']}
4,4,1528732682938630144,In Chinese overseas infrastructure-led develop...,2022-05-23 13:40:48+00:00,1.248214e+08,NaN
...,...,...,...,...,...,...
144803,144801,1539985809222160384,@dollie_Tae @jeffsatur I’m not a Korean. I’m a...,2022-06-23 14:56:43+00:00,1.538621e+18,NaN
145941,145939,1539982190364266497,"yada yada, japanese society, whatever, the wag...",2022-06-23 14:42:20+00:00,8.170542e+17,NaN
146154,146152,1539981505992069125,JWJDKSJS OMG \n\ni heaed that sarcasm and snar...,2022-06-23 14:39:37+00:00,1.086108e+18,NaN
147237,147235,1539978235957501952,"@GrandpaNb @NetCat144 @KenobiStig Fair, or pos...",2022-06-23 14:26:37+00:00,4.999365e+08,NaN
147245,147243,1539978214621302784,Love these southern plants owned by foreign co...,2022-06-23 14:26:32+00:00,9.558113e+17,NaN

# Base de treino - classificado

In [ ]:
covid_labeled = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/covid_hate/annotated_tweets_w_text.csv')
covid_labeled

,Tweet ID,Text,label
0,1242553623260868608,Are we still allowed to quote ancient Chinese ...,0
1,1246508137638580225,@mamacat2u @VBeltiz More power to you! This C...,0
2,1233468243534372865,"CNBC: WHO, Tedros reiterated that the virus co...",0
3,1243626072387747841,"""The heightened racism experienced by Asian co...",1
4,1225611530978217989,Coronavirus and Nepali in China: KP Oli has di...,0
...,...,...,...
2285,1239993276100468737,@kylam_official i get that it originated in ch...,0
2286,1245356371849117702,@WagerSolution @OrlanditoSilva @yummy_peaches8...,0
2287,1233816710223843329,@FirstSquawk Cc: @BNODesk The west coast was...,0
2288,1236710780264996869,I have no idea what the TP issue is. My god. B...,0
2289,1245117970810011650,Now is a great moment to align yourself with A...,1

In [ ]:
covid_labeled = covid_labeled.drop_duplicates()
covid_labeled = covid_labeled.rename(columns={'Tweet ID':'id','Text':'text','BERT_label':'label'})
covid_labeled = covid_labeled.drop(covid_labeled[covid_labeled['label'] == 0].sample(n=1000).index)
display(covid_labeled.shape)
display(covid_labeled['label'].value_counts())

(1289, 3)

1    517
2    429
0    343
Name: label, dtype: int64

In [ ]:
asian_labeled = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/labeled_asian_for_test.csv')
display(asian_labeled.head())
display(asian_labeled['label'].value_counts())
asian_labeled = asian_labeled.drop(asian_labeled[asian_labeled['label'] == 0].sample(n=700).index)

,Unnamed: 0,id,text,time,author_id,attachments,label
0,49160,1529136834655027201,Oh you people are unbelievably stupid why the ...,2022-05-24 16:26:46+00:00,"1,27E+34",NaN,1.0
1,576049,1532196970818936834,@academicpiracy Finally - and I'm not quite up...,2022-06-02 03:06:39+00:00,2870861381.0,NaN,0.0
2,63253,1529730018024497152,@LongBallToNoOne Do the Japanese tend to fancy...,2022-05-26 07:43:51+00:00,"1,50E+34",NaN,0.0
3,576722,1532223210590285824,"Kazumi: ""Not all Asian women have flat asses. ...",2022-06-02 04:50:55+00:00,"9,48E+31",{'media_keys': ['7_1532223145264001024']},1.0
4,326598,1531339307046297600,@noahbarkin @Herbert_Diess @handelsblatt #Xinj...,2022-05-30 18:18:36+00:00,"1,37E+34",{'media_keys': ['3_1531339305288859650']},0.0

0.0    765
1.0    110
2.0     57
3.0     45
4.0     10
Name: label, dtype: int64

In [ ]:
rest_labeled = pd.read_csv('/content/drive/Shareddrives/TCC/Dados/dataset/labeled_rest_for_test.csv')
display(rest_labeled.head())
display(rest_labeled['label'].value_counts())
rest_labeled = rest_labeled.drop(rest_labeled[rest_labeled['label'] == 0].sample(n=400).index)

,Unnamed: 0,id,text,time,author_id,attachments,label
0,111873,1531811322215616512,@jap_knees @jaccdaniels_ Based?,2022-06-01 01:34:13+00:00,1148770969709768705,NaN,0.0
1,71382,1530093862936526849,@EnterprisingIt @Starship_Voyage @RebeccaRomij...,2022-05-27 07:49:39+00:00,218307422,NaN,0.0
2,130583,1532597901179887616,@publicaloe Aloe's double life. A husband that...,2022-06-03 05:39:48+00:00,2615158239,NaN,0.0
3,82894,1530583416357498881,@QUEEN___chink Exactly lol 🗣🗣🗣,2022-05-28 16:14:57+00:00,1480394062893096965,NaN,0.0
4,91027,1530924275758243840,Russian troops storm city amid eastern Ukraine...,2022-05-29 14:49:25+00:00,713523037560111105,NaN,0.0

0.0    550
2.0    266
1.0     58
4.0     43
3.0     12
Name: label, dtype: int64

In [ ]:
train_dataset = pd.concat([asian_labeled,rest_labeled],ignore_index=True)
print(train_dataset.shape)
train_dataset = train_dataset.dropna(subset=['label']).drop(columns=['Unnamed: 0','time','author_id','attachments'])
train_dataset = pd.concat([train_dataset,covid_labeled])
train_dataset = train_dataset[train_dataset['label']<=2.0]
train_dataset

(1000, 7)

,id,text,label
0,1529136834655027201,Oh you people are unbelievably stupid why the ...,1.0
1,1532223210590285824,"Kazumi: ""Not all Asian women have flat asses. ...",1.0
2,1529790381486899200,@cowboy_chinese Theres all types of privilege ...,1.0
3,1531879627786190848,@d__a_n_i_e__l_ @sandylanceley @smh @ErykBagsh...,2.0
4,1529234929627824128,@GovGregAbbot and GOP members in the United St...,1.0
...,...,...,...
2280,1246999438033219584,Asian Americans Rally Around #RacismIsAVirus C...,1.0
2282,1245523960126636032,Look at These Chinese Bastards America🖕🖕 LET'S...,2.0
2283,1245421002894393345,@belkiswille @PrimeministerGR It’s ccp virus w...,0.0
2288,1236710780264996869,I have no idea what the TP issue is. My god. B...,0.0
2289,1245117970810011650,Now is a great moment to align yourself with A...,1.0

In [ ]:
train_y = train_dataset['label']
#train_dataset = train_dataset.drop(columns=['label'])
train_x = train_dataset['text']
train_ids = train_dataset['id'].tolist()
print(train_y)
print(len(train_ids))
print(train_y.value_counts())

0       1.0
1       1.0
2       1.0
3       2.0
4       1.0
       ...
2280    1.0
2282    2.0
2283    0.0
2288    0.0
2289    1.0
Name: label, Length: 1995, dtype: float64
1995
2.0    752
1.0    685
0.0    558
Name: label, dtype: int64

In [ ]:
test_dataset = pd.concat([asian, rest])
print("initial shape: ", test_dataset.shape)
test_dataset = test_dataset.rename(columns={1:'id',2:'text',3:'time',4:'author_id',5:'attachments'})
test_dataset['id'] = test_dataset['id'].astype(str)
test_dataset = test_dataset.drop(columns=[0,'time','author_id','attachments'])
print("shape after drop columns: ", test_dataset.shape)
test_dataset = test_dataset.drop_duplicates()
print("shape after drop duplicates: ", test_dataset.shape)
test_dataset = test_dataset[~test_dataset['id'].isin(train_ids)]
print("shape after drop not ids: ", test_dataset.shape)
test_dataset

initial shape:  (333461, 6)
shape after drop columns:  (333461, 2)
shape after drop duplicates:  (333125, 2)
shape after drop not ids:  (332421, 2)

                        id                                               text
0      1528732693298565121  @MarkMelon Biggest one is the amount of Chines...
1      1528732688416374785  @FuHuaArmpits @EuropeanRevolt Apart from that,...
2      1528732685635825667  There are some Chinese stocks which are hit ri...
3      1528732683819536387  @SicksTricks Hey Michael Farquhar! This tattoo...
4      1528732682938630144  In Chinese overseas infrastructure-led develop...
...                    ...                                                ...
12352  1544379198608924672  @mdub87 @RexChapman You stupid fucking mongoloid.
24711  1544379404360507394  Awww.  Another female Jap.  \n\nNot a photo of...
43253  1544379866300252161  Ironically, they’d have drowned a mongoloid li...
50151  1544103828810715136  @TeamGates \nWell just use the Chinaman's micr...
51264  1543692204673310720                                @stuckonilo JAP JAP

[332421 rows x 2 columns]

In [ ]:
covid_test = pd.read_feather('/content/drive/Shareddrives/TCC/Dados/covid_hate/covid_long_dataset_labeled.feather')
covid_test.head()

,index,Tweet ID,text,BERT_label
0,0,1354647623018438660,"Globally, as of 4:35pm CET, 27 January 2021, t...",0
1,1,1353948290237140992,It's a miracle. https://t.co/0piByXRhOG,0
2,2,1348420816849969152,Behold the ultimate spinning move observed as ...,0
3,3,1282783323354542088,@Kanyou95 @angelauk1900 oh no! my partner los...,0
4,4,1246579847649988609,@cannaworldsite @420Science @420Magazine @Posi...,0

# Dataprep

In [ ]:
# tirar @ e links

def removeMention(tweet):
  words = tweet.split()
  words = [word for word in words if "@" not in word ]
  newTweet = ' '.join(words)
  return newTweet

  # substituir menção por <USER>

In [ ]:
import emoji
from emoji import UNICODE_EMOJI

In [ ]:
# search your emoji
def is_emoji(s, language="en"):
    return s in UNICODE_EMOJI[language]

# add space near your emoji
def add_space(text):
    return ''.join(' ' + char + ' ' if is_emoji(char) else char for char in text).strip()

def separateEmoji(tweet):
  return add_space(tweet)

In [ ]:
import re
regex = re.compile("(http://t\.co.{12})|(https://t\.co.{11})")

def removeLink(tweet):
  #words = tweet.split()
  #links = [word for word in words if "t.co" in word]
  words = regex.sub('',tweet)
  return words

In [ ]:
a = 'elmo fire xablau @fogoNaMicromed kuririn @careca poli'
b = removeMention(a)
print(b)

elmo fire xablau kuririn poli

In [ ]:
a = '😍My pretty @oumix14723807 ! Yang Metal. As per Chinese astrology he is survival. He is a warrior who has all the physical and mental strength to stand up for those in need. With his help you will keep your strategy and focus. Do you need help? https://t.co/k5gYe3CPqe😎'
b = removeLink(a)
print(b)

😍My pretty @oumix14723807 ! Yang Metal. As per Chinese astrology he is survival. He is a warrior who has all the physical and mental strength to stand up for those in need. With his help you will keep your strategy and focus. Do you need help? 😎

In [ ]:
a = '😍My pretty @oumix14723807 ! Yang Metal. As per Chinese astrology he is survival. He is a warrior who has all the physical and mental strength to stand up for those in need. With his help you will keep your strategy and focus. Do you need help? https://t.co/k5gYe3CPqe😎'
b = separateEmoji(a)
print(b)

😍 My pretty @oumix14723807 ! Yang Metal. As per Chinese astrology he is survival. He is a warrior who has all the physical and mental strength to stand up for those in need. With his help you will keep your strategy and focus. Do you need help? https://t.co/k5gYe3CPqe 😎

# LSTM

# Bag of words

In [ ]:
from collections import Counter


def tweets_vocab(dataset, n=None):
    if n is None:
        n = len(dataset)
    all_tweets = []
    for tweet in dataset:
        words = tweet.split()
        all_tweets.append(words)

    all_tweets = [item for sublist in all_tweets for item in sublist]
    #print(all_tweets)
    counter_words = Counter(all_tweets)
    #print(counter_words)
    #print(len(counter_words))
    counter_words = counter_words.most_common(n)
    vocab_to_int = {w:i+1 for i, (w,c) in enumerate(counter_words)}
    #print(vocab_to_int)
    return vocab_to_int
  
def padding(dataset_tok, max_len):
  for i in range(len(dataset_tok)):
      if len(dataset_tok[i]) < max_len:
      #if len(dataset_tok[i]) < max_len:
          for z in range(max_len - len(dataset_tok[i])):
          #for z in range(max_len - len(tweet)):
              # dataset_tok[i].append([0])
              dataset_tok[i] = [[0]] + dataset_tok[i]
              #tweet.append(0)
  return np.array(dataset_tok)

def tweets_tok(dataset, vocab_to_int):

    dataset_tok = []
    max_len = 0

    # for tweet in dataset_tok:
    #   print(tweet)
    #     r = [vocab_to_int[w] if w in vocab_to_int else 0 for w in tweet.split()]
    #     dataset_tok[tweet]=r
    #     #print(r)
    #     #tweet = r
    for i in range(len(dataset)):
        r = [[vocab_to_int[w]] for w in dataset.iloc[i].split() if w in vocab_to_int]
        dataset_tok.append(r)
        #dataset_tok.iloc[i] = r

        if len(r) > max_len:
            max_len = len(r)
        #print(r)
        #tweet = r
    
    # # padding
    # for i in range(len(dataset_tok)):
    #     #if len(dataset_tok.iloc[i]) < max_len:
    #     if len(dataset_tok[i]) < max_len:
    #         #for z in range(max_len - len(dataset_tok.iloc[i])):
    #         for z in range(max_len - len(dataset_tok[i])):
    #             #dataset_tok.iloc[i].append(0)
    #             dataset_tok[i].append(0)

    return dataset_tok, max_len

In [ ]:
a = [1, 2]
a.append([3])
print(a)

[1, 2, [3]]

In [ ]:
dd = train_x.copy()
dd.iloc[3]

'@d__a_n_i_e__l_ @sandylanceley @smh @ErykBagshaw Do you think Canberra, and the rest of the world, should just ignore that China let covid spread globally?\nShould we leave the quad?\nStop tracking illegal fishing by Chinese boats?\nStop cracking down on foreign interference in our elections?'

In [ ]:
train_x_clean = train_x.apply(lambda x:separateEmoji(x)).apply(lambda x:removeMention(x)).apply(lambda x:removeLink(x))
test_x_clean = covid_test['text'].apply(lambda x:separateEmoji(x)).apply(lambda x:removeMention(x)).apply(lambda x:removeLink(x))
train_x_clean

0       Oh you people are unbelievably stupid why the ...
1       Kazumi: "Not all Asian women have flat asses. ...
2       Theres all types of privilege u jus dnt recogn...
3       Do you think Canberra, and the rest of the wor...
4       and GOP members in the United States always cl...
                              ...
2280    Asian Americans Rally Around #RacismIsAVirus C...
2282    Look at These Chinese Bastards America 🖕 🖕 LET...
2283    It’s ccp virus which killed those innocent all...
2288    I have no idea what the TP issue is. My god. B...
2289    Now is a great moment to align yourself with A...
Name: text, Length: 1995, dtype: object

In [ ]:
test_x_clean

0         Globally, as of 4:35pm CET, 27 January 2021, t...
1                                          It's a miracle.
2         Behold the ultimate spinning move observed as ...
3         oh no! my partner lost his front crown at begi...
4         It does not specifically mention #coronavirus....
                                ...
376384    I don't think that chart shows identical figur...
376385        Delete this. It ain’t funny and it’s racist.
376386                                      Not this again
376387    #riseabovehate But I swear sometimes it's diff...
376388    Who needs 'em. DiSantis knows COVID is fake ne...
Name: text, Length: 376389, dtype: object

In [ ]:
vocab_to_int = tweets_vocab(train_x_clean)
train_x_tok, max_len1 = tweets_tok(train_x_clean, vocab_to_int)
#print(train_x_tok)

In [ ]:
test_x_tok, max_len2 = tweets_tok(test_x_clean, vocab_to_int)
#print(test_x_tok)

In [ ]:
print(test_x_tok[0])
max_len = max_len2
if max_len1 > max_len2:
  max_len = max_len1

In [ ]:
train_x_tok = padding(train_x_tok, max_len)
test_x_tok = padding(test_x_tok, max_len)
#train_x_tok.head()
print(train_x_tok)
#print(test_x_tok)

[[[   0]
  [   0]
  [   0]
  ...
  [  14]
  [ 606]
  [ 308]]

 [[   0]
  [   0]
  [   0]
  ...
  [  16]
  [ 468]
  [  20]]

 [[   0]
  [   0]
  [   0]
  ...
  [1248]
  [1249]
  [ 687]]

 ...

 [[   0]
  [   0]
  [   0]
  ...
  [ 181]
  [ 761]
  [1501]]

 [[   0]
  [   0]
  [   0]
  ...
  [ 132]
  [ 109]
  [1730]]

 [[   0]
  [   0]
  [   0]
  ...
  [ 493]
  [ 115]
  [  44]]]

In [ ]:
torch.from_numpy(train_y.to_numpy()).to(torch.int64)

tensor([1, 1, 1,  ..., 0, 0, 1])

In [ ]:
print(train_y)
print(train_y.unique())

0       1.0
1       1.0
2       1.0
3       2.0
4       1.0
       ...
2283    0.0
2286    0.0
2287    0.0
2288    0.0
2289    1.0
Name: label, Length: 1995, dtype: float64
[1. 2. 0.]

In [ ]:
print(train_y.value_counts())
print(covid_test['BERT_label'].value_counts())

2.0    752
1.0    685
0.0    558
Name: label, dtype: int64
1    161237
2    129636
0     85516
Name: BERT_label, dtype: int64

In [ ]:
covid_test[covid_test['BERT_label']==1].count()

index         161237
Tweet ID      161237
text          161237
BERT_label    161237
dtype: int64

In [ ]:
train_y = train_y.mask(train_y < 2, 0).astype(int)
train_y = train_y.mask(train_y == 2, 1).astype(int)

test_y = covid_test['BERT_label']
test_y = test_y.mask(test_y < 2, 0).astype(int)
test_y = test_y.mask(test_y == 2, 1).astype(int)

# test_y = covid_test['BERT_label'].mask(covid_test['BERT_label'] < 2, 0).astype(int)
# test_y = covid_test['BERT_label'].mask(covid_test['BERT_label'] == 2, 1).astype(int)

print(train_y.unique())
print(test_y.unique())

[0 1]
[0 1]

In [ ]:
print(train_y.value_counts())
print(test_y.value_counts())

0    1243
1     752
Name: label, dtype: int64
0    246753
1    129636
Name: BERT_label, dtype: int64

In [ ]:
print(type(train_y[0]))
print(type(test_y[0]))

<class 'pandas.core.series.Series'>
<class 'numpy.int64'>

In [ ]:
378384

In [ ]:
from torch.nn.functional import one_hot

elements = [i for i in range(len(test_x_tok))]
val_index = random.sample(elements, k=int(0.1*len(elements)))
elements = [ele for ele in elements if ele not in val_index]
test_index = random.sample(elements, k=int(len(elements)/9))
train_index = [ele for ele in elements if ele not in test_index]

train_x_tok_2 = np.array(test_x_tok)[train_index]
train_y_2 = np.array(test_y)[train_index]
val_x_tok = np.array(test_x_tok)[val_index]
val_y = np.array(test_y)[val_index]
test_x_tok = np.array(test_x_tok)[test_index]
test_y = np.array(test_y)[test_index]
train_x_comp = np.concatenate((train_x_tok, train_x_tok_2), axis=0)
train_y_comp = np.concatenate((train_y.to_numpy(), train_y_2), axis=0)

np.save('/content/drive/MyDrive/poli 2022/train_x.npy', train_x_comp)
np.save('/content/drive/MyDrive/poli 2022/train_y.npy', train_y_comp)
np.save('/content/drive/MyDrive/poli 2022/val_x.npy', val_x_tok)
np.save('/content/drive/MyDrive/poli 2022/val_y.npy', val_y)
np.save('/content/drive/MyDrive/poli 2022/test_x.npy', test_x_tok)
np.save('/content/drive/MyDrive/poli 2022/test_y.npy', test_y)

In [2]:
train_x_comp = np.load('train_x.npy')
train_y_comp = np.load('train_y.npy')
val_x_tok = np.load('val_x.npy')
val_y = np.load('val_y.npy')
test_x_tok = np.load('test_x.npy')
test_y = np.load('test_y.npy')

In [3]:
#train_1_ds = TensorDataset(torch.from_numpy(train_x_tok).type(torch.float32), torch.from_numpy(train_y.to_numpy()))
#train_2_ds = TensorDataset(torch.from_numpy(train_x_tok_2).type(torch.float32), torch.from_numpy(train_y_2))
train_ds = TensorDataset(torch.from_numpy(train_x_comp).type(torch.float32), torch.from_numpy(train_y_comp))
#train_ds = torch.utils.data.ConcatDataset([train_1_ds, train_2_ds])
val_ds = TensorDataset(torch.from_numpy(val_x_tok).type(torch.float32), torch.from_numpy(val_y))
test_ds = TensorDataset(torch.from_numpy(test_x_tok).type(torch.float32), torch.from_numpy(test_y))

batch_size = 256
train_dl = DataLoader(train_ds, shuffle=True, batch_size=batch_size)
val_dl = DataLoader(val_ds, shuffle=True, batch_size=batch_size)
test_dl = DataLoader(test_ds, shuffle=True, batch_size=batch_size)

In [4]:
print(train_y_comp.sum(), len(train_y_comp)-train_y_comp.sum())
print(val_y.sum(), len(val_y)-val_y.sum())
print(test_y.sum(), len(test_y)-test_y.sum())
#print(len(elements), len(train_x_tok))

104523 198584
12945 24693
12920 24719

In [5]:
max_len=128
vocab_size=1996

# LSTM model

In [6]:
class TweetsLSTM(nn.Module):
    def __init__(self,no_layers,hidden_dim,input_dim,drop_prob=0.5):
        super(TweetsLSTM,self).__init__()
 
        #self.output_dim = output_dim
        self.input_dim = input_dim
        self.hidden_dim = hidden_dim
        self.no_layers = no_layers
    
        print(type(self.no_layers), type(self.input_dim), type(self.hidden_dim))
        
        # embedding and LSTM layers
        #self.embedding = nn.Embedding(vocab_size, embedding_dim)
        
        #lstm
        self.lstm_layers = nn.LSTM(input_size=self.input_dim,hidden_size=self.hidden_dim,
                           num_layers=no_layers, batch_first=True)
        
        
        # dropout layer
        self.dropout_layer = nn.Dropout(p=drop_prob, inplace=True)
    
        # linear and sigmoid layer
        self.linear_layer = nn.Linear(self.hidden_dim, 1)
        self.sigmoid_layer = nn.Sigmoid()

    def forward(self,x):
        #print("x:", x.shape, x.dtype)
        batch_size, _seq1 , _seq2 = x.size()
        
        h_1 = torch.zeros(self.no_layers, batch_size, self.hidden_dim)
        c_1 = torch.zeros(self.no_layers, batch_size, self.hidden_dim)
        
        hc_1 = (h_1, c_1)
        
        #print("hidden:",hidden[0].shape, hidden[0].dtype)
        # embeddings and lstm_out
        #embeds = self.embedding(x)  # shape: B x S x Feature   since batch = True
        #print("emb:",embeds.shape)  #[50, 500, 1000]
        #print(embeds[0])
        #print("emb: ",embeds)

        lstm_out, (h_1, c_1) = self.lstm_layers(x, hc_1)
        #print("lstm out:",lstm_out.shape)
        #lstm_out = lstm_out.contiguous().view(-1, self.hidden_dim) 
        
        # dropout and fully connected layer
        out = self.dropout_layer(h_1) #(h_1) lstm_out
        #print(out.contiguous().view(batch_size,-1))
        #out = self.fc(out.contiguous().view(batch_size,-1))
        #print("out:", out,out.shape)
        lin_out = self.linear_layer(out)
        #print("lin_out: ", lin_out.shape)
        
        
        # sigmoid function
        sig_out = self.sigmoid_layer(lin_out)
        #print("out2:", sig_out.shape)
        # reshape to be batch_size first
        #sig_out = sig_out.view(batch_size, -1)
        #print("sig_out: ", sig_out.shape)

        #sig_out = sig_out[:, -1]
        #print(sig_out)
        # # reshape to be batch_size first
        #sig_out = out.view(batch_size, -1)
        #print("out3:", sig_out.shape)
        #sig_out = sig_out[:, -1] # get last batch of labels
        #print("sig_out:", sig_out.shape)
        
        #sig_out = out.view(batch_size,-1)
        sig_out = sig_out[-1,:,:]
        #print(sig_out.shape,sig_out)
        # # return last sigmoid output and hidden state

        #sig_out = torch.max(out,1)
        # print("sig_out:",sig_out.shape, sig_out)
        #sig_out = torch.max(sig_out,1)
        #print("sig_out:",sig_out)
        #return sig_out[1], hidden
        return sig_out

In [7]:
no_layers = 2
#vocab_size = len(vocab_to_int) + 1 #extra 1 for padding
#vocab_size = 128
embedding_dim = 64
input_dim = 1
output_dim = 3
hidden_dim = 50 #256


model = TweetsLSTM(no_layers,hidden_dim,input_dim,drop_prob=0.3)

#print(train_x_tok.shape)
dataiter = iter(train_dl)
print('sample input: ', dataiter.next()[0].size())
print('sample output: ', dataiter.next()[1].size())
print(model)
print(vocab_size)
print(max_len)
#summary(model, (4, max_len, 1),dtypes=[torch.int])
summary(model, input_data=torch.tensor(np.ones((4, max_len, 1))).type(torch.float32))

<class 'int'> <class 'int'> <class 'int'>
sample input:  torch.Size([256, 126, 1])
sample output:  torch.Size([256])
TweetsLSTM(
  (lstm_layers): LSTM(1, 50, num_layers=2, batch_first=True)
  (dropout_layer): Dropout(p=0.3, inplace=True)
  (linear_layer): Linear(in_features=50, out_features=1, bias=True)
  (sigmoid_layer): Sigmoid()
)
1996
128

==========================================================================================
Layer (type:depth-idx)                   Output Shape              Param #
==========================================================================================
TweetsLSTM                               [4, 1]                    --
├─LSTM: 1-1                              [4, 128, 50]              31,000
├─Dropout: 1-2                           [2, 4, 50]                --
├─Linear: 1-3                            [2, 4, 1]                 51
├─Sigmoid: 1-4                           [2, 4, 1]                 --
==========================================================================================
Total params: 31,051
Trainable params: 31,051
Non-trainable params: 0
Total mult-adds (M): 15.87
==========================================================================================
Input size (MB): 0.00
Forward/backward pass size (MB): 0.20
Params size (MB): 0.12
Estimated Total Size (MB): 0.33
==========================================================================================

In [8]:
# loss and optimization functions
lr=0.001

def BCELoss_class_weighted(weights):
  def loss(input, target):
    input = torch.clamp(input,min=1e-7,max=1-1e-7)
    bce = - weights[1] * target * torch.log(input) - (1 - target) * weights[0] * torch.log(1 - input)
    return torch.mean(bce)
  return loss

weights = [len(train_y_comp)/(2*(len(train_y_comp)-train_y_comp.sum())), len(train_y_comp)/(2*train_y_comp.sum())]
criterion = BCELoss_class_weighted(weights)

optimizer = torch.optim.Adam(model.parameters(), lr=lr)

# function to predict accuracy
def acc(pred,label):
    #pred = torch.round(pred.squeeze())
    #print(pred, label, torch.sum(pred == label.squeeze()).item())
    return torch.sum(((pred >= 0.5).type(torch.float32) == label.squeeze()).type(torch.float32)).item()

In [14]:
a = torch.tensor(np.array([1, 0.6, 0.3, 0]))
b = torch.tensor(np.array([1, 0, 0, 0]))
torch.sum(((a >= 0.5).type(torch.int) == b).type(torch.float32)).item()

3.0

In [15]:
def training_loop(dataloader, model, loss_fn, optimizer):
  size = len(dataloader.dataset)
  running_loss = 0

  model.train()
  for batch, (X, y) in enumerate(dataloader):
    optimizer.zero_grad()
    pred = model(X)
    #final_pred = torch.squeeze((pred >= 0.5).type(torch.int),1)
    final_pred = torch.squeeze(pred, 1).type(torch.float32)
    #y = torch.unsqueeze(y, 0)
    #print(final_pred, y)
    loss = loss_fn(final_pred, y.type(torch.float32))

    loss.backward()
    optimizer.step()

    running_loss = running_loss + loss.item()

    if batch % 100 == 0:
      loss, current = loss.item(), batch*len(X)
      print(f'loss: {loss:>7f}  [{current:>5d}/{size:>5d}]')
    
  return running_loss

In [ ]:
def testing_loop(dataloader, model, loss_fn):
  size = len(dataloader.dataset)
  num_batches = len(dataloader)
  test_loss, correct = 0, 0
  running_loss = 0

  model.eval()
  with torch.no_grad():
    for X, y in dataloader:
      pred = model(X)
      #final_pred = (pred >= 0.5).type(torch.int)
      final_pred = torch.squeeze(pred, 1).type(torch.float32)
      test_loss += loss_fn(final_pred, y.type(torch.float32)).item()
      correct += (pred.argmax(1) == y).type(torch.float).sum().item()
      running_loss = running_loss + test_loss
  
  test_loss /= num_batches
  correct /= size
  print(f'Test Error: \n Accuracy:{(100*correct):>0.1f}%, Avg loss: {test_loss:>8f}\n')

  return running_loss

In [ ]:
epochs = 50
best_val_loss = 100000000
for i in range (epochs):
  tr_loss = training_loop(train_dl, model, criterion, optimizer)
  val_loss = testing_loop(val_dl, model, criterion)
  if val_loss < best_val_loss:
    best_val_loss = val_loss
    torch.save(model.state_dict(), '/content/drive/MyDrive/poli 2022/new_model')

In [10]:
clip = 5
epochs = 50
valid_loss_min = np.Inf
# train for some number of epochs
epoch_tr_loss,epoch_vl_loss = [],[]
epoch_tr_acc,epoch_vl_acc = [],[]
print(len(train_dl.dataset))
print(len(val_dl.dataset))

for epoch in range(epochs):
    print("epoch:", epoch)
    train_losses = []
    train_acc = 0.0
    model.train()
    # initialize hidden state 
    for inputs, labels in train_dl:
        #print(inputs.shape)
        
        # Creating new variables for the hidden state, otherwise
        # we'd backprop through the entire training history
      
        optimizer.zero_grad()
        output = model(inputs)
        
        # calculate the loss and perform backprop
        #print("output:",output.shape, output[0].shape, output[0].dtype)
        #print("labels:",labels.shape, labels.dtype)
        #print(output, torch.max(labels,1)[1])
        #print(output.T, labels.type(torch.float32))
        loss = criterion(torch.squeeze(output, 1).type(torch.float32), labels.type(torch.float32))
        loss.backward()
        train_losses.append(loss.item())
        # calculating accuracy
        #accuracy = acc(output,labels)
        accuracy = acc(torch.squeeze(output, 1).type(torch.float32), labels.type(torch.float32))
        train_acc += accuracy
        #`clip_grad_norm` helps prevent the exploding gradient problem in RNNs / LSTMs.
        #nn.utils.clip_grad_norm_(model.parameters(), clip)
        optimizer.step()
        
    val_losses = []
    val_acc = 0.0
    model.eval()
    for inputs, labels in val_dl:
            #print(inputs.shape)
            output = model(inputs)
            #print("output:",output.squeeze())
            #print("labels:",labels.long())
            val_loss = criterion(torch.squeeze(output, 1).type(torch.float32), labels.type(torch.float32))

            val_losses.append(val_loss.item())
            
            accuracy = acc(torch.squeeze(output, 1).type(torch.float32), labels.type(torch.float32))
            val_acc += accuracy
            epoch_train_loss = np.mean(train_losses)
    epoch_val_loss = np.mean(val_losses)
    epoch_train_acc = train_acc/len(train_dl.dataset)
    epoch_val_acc = val_acc/len(val_dl.dataset)
    epoch_tr_loss.append(epoch_train_loss)
    epoch_vl_loss.append(epoch_val_loss)
    epoch_tr_acc.append(epoch_train_acc)
    epoch_vl_acc.append(epoch_val_acc)
    print(f'Epoch {epoch+1}') 
    print(f'train_loss : {epoch_train_loss} val_loss : {epoch_val_loss}')
    print(f'train_accuracy : {epoch_train_acc*100} val_accuracy : {epoch_val_acc*100}')
    if epoch_val_loss <= valid_loss_min:
        torch.save(model.state_dict(), 'model2')
        print('Validation loss decreased ({:.6f} --> {:.6f}).  Saving model ...'.format(valid_loss_min,epoch_val_loss))
        valid_loss_min = epoch_val_loss
    print(25*'==')

303107
37638
epoch: 0
Epoch 1
train_loss : 0.6210995455582936 val_loss : 0.6156429757137556
train_accuracy : 67.07103432121329 val_accuracy : 70.30660502683457
Validation loss decreased (inf --> 0.615643).  Saving model ...
==================================================
epoch: 1
Epoch 2
train_loss : 0.605316369518449 val_loss : 0.6315659198003847
train_accuracy : 67.97698502509016 val_accuracy : 70.84063977894681
==================================================
epoch: 2

KeyboardInterrupt:

In [ ]:
model = TweetsLSTM(no_layers,hidden_dim,input_dim,drop_prob=0.5)
model.load('/content/drive/MyDrive/poli 2022/model')
model.eval()

In [ ]:
np.empty((1,0))

array([], shape=(1, 0), dtype=float64)

In [18]:
from sklearn.metrics import f1_score, recall_score, precision_score, accuracy_score

def predict_text(inputs):
      output = model(inputs)
      return output

corrects = 0
total = 0
TP = 0
TN = 0
FP = 0
FN = 0
all_pred_bin = np.empty((1,0))
all_labels = np.empty((1,0))

for inputs, labels in test_dl:
  #print(inputs.shape)
  pred_test = predict_text(inputs)
  #print(torch.squeeze(pred_test, 1).type(torch.float32))
  all_pred_bin = np.append(all_pred_bin, (torch.squeeze(pred_test, 1).type(torch.float32) >= 0.5).type(torch.int).detach().numpy())
  all_labels = np.append(all_labels, labels.numpy())
  #print(torch.squeeze(pred_test.T, 0), labels.type(torch.float32))
  corrects += acc(torch.squeeze(pred_test, 1).type(torch.float32), labels.type(torch.float32))#acc(pred_test, labels)
  #print(corrects)
  total += len(pred_test)
print(corrects/total)
print(all_pred_bin.shape, all_pred_bin)
print(all_labels.shape, all_labels)
print("f1: ", f1_score(all_labels, all_pred_bin))
print("recall: ", recall_score(all_labels, all_pred_bin))
print("precision: ", precision_score(all_labels, all_pred_bin))
print("accuracy: ", accuracy_score(all_labels, all_pred_bin))

0.7760301814607189
(37639,) [1. 0. 1. ... 1. 1. 0.]
(37639,) [1. 0. 0. ... 0. 1. 0.]
f1:  0.704625087596356
recall:  0.778250773993808
precision:  0.6437259923175416
accuracy:  0.7760301814607189

In [ ]:
print(all_pred_bin.sum())

37639.0